/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.age,
.school,
.address {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.sectionTitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.list {
  padding-left: 20px;
}

.listItem,
.difficultyItem {
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

.courseItem {
  margin-bottom: 15px;
}

.courseDescription {
  font-size: 14px;
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.grade,
.difficultyTitle {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
} */
